# systemd/led-controller.service runs locally on the Pi

[Unit]
Description=LED Controller
After=network.target

[Service]
User=tobi
WorkingDirectory=/home/tobi/Development/upnepa
ExecStart=/home/tobi/Development/upnepa/upnepa-env/bin/python led_controller.py
Restart=always

[Install]
WantedBy=multi-user.target
