# systemd/mediamtx.service

[Unit]
Description=MediaMTX Server
After=network.target

[Service]
User=tobi
WorkingDirectory=/home/tobi/Development/upnepa
ExecStart=/home/tobi/Development/mediamtx/mediamtx mediamtx/mediamtx.yml
Restart=always

[Install]
WantedBy=multi-user.target
