# systemd/mediamtx.service

[Unit]
Description=MediaMTX Server
After=network.target

[Service]
User=tobi
WorkingDirectory=/home/tobi/Development/mediamtx
# Environment="PATH=/home/tobi/python/venv/bin"
ExecStart=/home/tobi/Development/mediamtx /home/tobi/Development/upnepa/mediamtx/mediamtx.yml
Restart=always

[Install]
WantedBy=multi-user.target
